.shortcut__button--success {
  background: rgba(255, 255, 255);
  padding: 5px;
  position: relative;
  left: 242px;
  top: -30px;
}

.shortcut__button--failure {
  background: rgb(255, 255, 255);
  padding: 5px;
  position: relative;
  left: 242px;
  top: -30px;
}
